/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Georgia', serif;
    background-color: #181e38;
    color: #ebe7e7;
    line-height: 1.6;
}
 
header {
    background-color: #66687c; /* Marrom terroso */
    color: rgb(255, 249, 255);
    text-align: center;
    padding: 20px;
}
 
header h1 {
    font-size: 2.5em;
}
 
header p {
    font-size: 1.2em;
    font-style: italic;
}
 
main {
    padding: 20px;
}
 
.activity {
    background-color: rgba(13, 19, 46, 0.342);
    border: 2px solid #7a8359; /* Marrom claro */
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
 
.activity h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #dfd9d9; /* Tom mais escuro de marrom */
}

img{
    width: 200px;
    border-radius: 100; /* Forma esférica */
    overflow: hidden;
    display: 10;
    justify-content: c;
    align-items: center;
    padding: 10px; /* Espaço entre a borda e a imagem */
}