body {
    background-image: url('');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.block-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin: 50px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.block {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
}
.block:hover {
    transform: scale(1.05);
    background-color: #e9ecef;
}

.block img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
.block p {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}